@media (prefers-color-scheme: light) {
  /* https://color-contrast-checker.deque.com/ */
  :root {
      --neutral-1: #212529;
      --neutral-2: #4f5b67;
      --neutral-3: #7f90a1;
      --neutral-4: #bbc5cf;
      --neutral-5: #f8f9fa;
      --primary-1: #ced4da;
      --primary-2: #65b0d4;
      --primary-3: #2578b4;
      --primary-4: #00408f;
      --primary-5: #03045e;
      --secondary-1: #c5fb60;
      --secondary-2: #aefb1e;
      --secondary-3: #8ad403;
      --secondary-4: #609301;
      --secondary-5: #355200;
      --accent-1: #fe626a;
      --accent-2: #fe202b;
      --accent-3: #db010b;
      --accent-4: #990007;
      --accent-5: #570004;

  }
}

@media (prefers-color-scheme: dark) {
  :root {
      --neutral-5: #212529;
      --neutral-4: #4f5b67;
      --neutral-3: #7f90a1;
      --neutral-2: #bbc5cf;
      --neutral-1: #f8f9fa;
      --primary-5: #ced4da;
      --primary-4: #65b0d4;
      --primary-3: #2578b4;
      --primary-2: #00408f;
      --primary-1: #03045e;
      --secondary-5: #c5fb60;
      --secondary-4: #aefb1e;
      --secondary-3: #8ad403;
      --secondary-2: #609301;
      --secondary-1: #355200;
      --accent-5: #fe626a;
      --accent-4: #fe202b;
      --accent-3: #db010b;
      --accent-2: #990007;
      --accent-1: #570004;
  }
}

body {
  width: 60%;
  margin: 1rem auto;
  color: var(--neutral-1);
  background-color: var(--neutral-5);
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

@media (orientation: portrait) {
  body {
      width: 90%;
  }
}

html {
  font-size: 14pt;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h2 {
  font-style: italic;
}

a {
  color: var(--primary-3);
}

a:visited {
  color: var(--primary-4);
}

a:hover {
  color: var(--secondary-3);
}

svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}